# Knightsbridge Network Configuration
RPC_URL=https://mainnet-rpc.kxcoscan.com
CHAIN_ID=8060
CURRENCY=KDA


# Token contract address (update with actual token contract)
TOKEN_CONTRACT_ADDRESS=0x...

# Backend url
BACKEND_URL=http://localhost:3001

# Server Configuration
PORT=3000
NODE_ENV=development
